.Rproj.user
.Rhistory
.RData
.Ruserdata
experiments/**/*.RDS
experiments/**/*.RData
experiments/**/*.knit.md
src/*.o
src/*.so
src/*.dll
inst/doc
experiments/**/Job[_]*
presentations/**/*
**/*.png
**/*.csv
**/*.pdf
*.csv
**/*.Rhistory
experiments/LCAB_LawMorton1996-NumericalPoolCommunityScaling10/LM96-NumPoolComScaling-Calc10-48hr4_log(1).txt
experiments/LCAB_LawMorton1996-NumericalPoolCommunityScaling10/LM96-NumPoolComScaling-Calc10-DMTCP-Test-Log.txt
experiments/LCAB_LawMorton1996-NumericalPoolCommunityScaling10/LM96-NumPoolComScaling-Calc10-DMTCP-Test-Log2.txt
experiments/LCAB_LawMorton1996-NumericalPoolCommunityScaling10/LM96-NumPoolComScaling-Calc10-Restart_log.txt
*.html
2021-11-01-Workspace.RData
2021-11-13.RData
MNA-MasterA-Cases-Prepared.RData
MNA-MasterB-Cases-Prepared.RData
MNA-MasterC-Cases-Prepared.RData
