renv

.Rproj.user
.Rhistory
**/*.Rhistory
.RData
.Ruserdata
LogFunctionsUsed
LogFunctionsUsed.R

# -- OS
.DS_Store
Thumbs.db
**/Thumbs.db
desktop.ini
$RECYCLE.BIN/
*.lnk
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# -- Data
experiments/**/*.RDS
*.RData
experiments/**/*.RData
experiments/**/*.knit.md
experiments/**/Job[_]*
*.zip

**/*.png
**/*.csv
**/*.pdf
*.csv
*.html
**/*.mp4
*.gif

inst/doc

# -- C/Dev
src/*.o
src/*.so
src/*.dll


